* {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: white;
}

#header {
  width: 100%;
  height: 100vh;

  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
  cursor: pointer;
  border-radius: 50%;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 25px;
}

nav ul li a {
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
  color: teal;
  font-weight: 900;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: red;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 25px;
}

.header-text p {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}

.header-text h1 {
  font-size: 50px;
  margin-top: 20px;
}

.header-text h1 span {
  color: teal;
}

/* ```````````````````````````ABOUT````````````````````````````` */

#about {
  padding: 150px;
  color: #ababab;
  /* backgrou; */
  /* background:url(/images/bg.jpg); */
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  float: right;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  /* color: rgb(235, 138, 20); */
  color: #8B008B;
}

.tab-titles {
  display: flex;
  padding: 24px 10px;
  margin-top: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-style: 18px;
  font-weight: bold;
  cursor: pointer;
  /* color: #61b752; */
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: red;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-links::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  /* color: red; */
}

.tab-contents ul li span {
  color: teal;
  font-weight: bold;
  font-size: 28px;
  word-spacing: 4px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

#about p {
  word-spacing: 9px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
  color: white;
}
/* ````````````````````services```````````````````` */

#services {
  padding: 30px 0;
  cursor: pointer;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background: #262626;
  padding: 40px;
  font-style: 13px;
  font-weight: 500;
  border-radius: 10px;
  /* transition: background 0.5s, transform 0.5s; */
  transition: background 0.5s, transform 0.5s;
}

.services-list i {
  font-size: 30px;
  margin-bottom: 20px;
}

.services-list h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover {
  background: rgba(0, 128, 128, 0.87);
  transform: translateY(-10px);
}

/* ```````````````````My work```````````````````` */

#portfolio {
  padding: 150px;
  cursor: pointer;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  /* cursor: pointer; */
}

.work img {
  width: 100%;
  border-radius: 10px;
  /* height: 100%; */
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 15px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: teal;
  text-decoration: none;
  line-height: 60px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  background: whitesmoke;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 3px solid #ff004f;
  padding: 10px 30px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 700;
  transition: background 0.5s;
}

.btn:hover {
  background: #ff004f;
}

/* ```````````````contact``````````````````````` */

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 35px;
}

.contact-left p i {
  color: teal;
  margin-right: 12px;
  font-size: 24px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

#s1 {
  color: #ff004f;
}
#s2 {
  color: blue;
}
#s3 {
  color: white;
}
#s4 {
  color: green;
}

#s5 {
  color: darkorange;
}
/* .social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
} */

.btn.btn2 {
  display: inline-block;
  background: #ff004f;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  margin: 15px 0;
  padding: 15px;
  color: #fff;
  font-size: 15px;
  border-radius: 6px;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px;
  background: #262626;
  font-weight: 500;
  margin-top: 20px;
}

/*```````````` css for small screen   ````````````````` */

nav .fas {
  display: none;
}

@media only screen and (max-width: 600px) {
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }

  .header-text h1 {
    font-size: 30px;
  }

  nav .fas {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .sub-title {
    font-size: 40px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-2 {
    margin-bottom: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .copyright {
    font-size: 14px;
  }
}

#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
}
